:root {
  --first-color: #7c4847;
  --second-color: #a76462;
  --third-color: black;
  --titles-color: rgba(0, 0, 0, 0.719);
  --border-color: rgba(0, 0, 0, 0.226);
  --page-background-color: rgba(255, 255, 255, 0.966);
}

.Weather p {
  display: inline-block;
}

.Weather .page {
  margin: 25px auto;
  max-width: 600px;
  border-radius: 28px;
  box-shadow: 0 0 7px rgba(75, 75, 75, 0.274);
  padding: 35px 25px 20px 25px;
  background-image: url(../public/istockphoto-1227249351-170667a.jpg);
  background-size: cover;
}

.Weather .typeCity,
.Weather .center {
  text-align: center;
}

.Weather .search-text {
  background-color: var(--page-background-color);
  padding: 6px 16px;
  font-size: 16px;
  border-color: var(--border-color);
  border-width: 1px;
  border-radius: 8px;
}

.Weather .search-btn {
  padding: 6px 16px;
  border-color: var(--border-color);
  border-width: 1px;
  border-radius: 8px;
  color: var(--second-color);
  background-color: var(--page-background-color);
  transition: transform 0.2s;
}

.Weather .search-btn:hover {
  color: var(--first-color);
  transform: scale(1.05);
}

.Weather .heading {
  margin-top: 16px;
}

.Weather .city-name {
  padding-top: 6px;
  font-size: 37px;
  margin-left: 18px;
  font-weight: 600;
}

.Weather .cityName {
  color: var(--titles-color);
  position: relative;
  left: -6px;
  font-family: "Lobster";
  font-weight: 400;
}

.Weather .heading-item {
  display: block;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 15px;
}

.Weather .mainPage {
  background-color: var(--page-background-color);
  padding: 30px;
  margin: 0 10px 20px 10px;
  border-radius: 15px;
  box-shadow: 0 0 7px rgba(75, 75, 75, 0.274);
}

.Weather .titles {
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 14px;
  font-size: 17px;
  font-weight: 500;
  color: var(--titles-color);
}

.Weather .city-temperature {
  font-size: 60px;
}

.Weather .weather_description {
  margin-top: 16px;
  text-transform: capitalize;
}

.Weather .icon_current_location {
  font-size: 27px;
  color: var(--second-color);
  position: relative;
  left: -4px;
  top: -2px;
  margin-right: 8px;
}

.Weather canvas {
  position: relative;
  bottom: -9px;
  margin-right: 10px;
}

.Weather .units {
  position: relative;
  top: -30px;
}

.Weather .statistics {
  display: inline;
  text-align: center;
  margin-top: 13px;
}

.Weather .statistic {
  font-weight: 500;
  color: var(--titles-color);
}

.Weather .credit {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
  font-family: "Lobster", cursive;
}

.Weather .open-source-code {
  color: var(--second-color);
  text-decoration: none;
}

.Weather .open-source-code:hover {
  color: var(--first-color);
  text-decoration: underline;
}

.Weather .celsius-link,
.Weather .fahrenheit-link {
  color: var(--second-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;
}

.Weather .celsius-link:hover,
.Weather .fahrenheit-link:hover {
  color: var(--first-color);
  text-decoration: underline;
}

.Weather .active {
  color: var(--third-color);
  cursor: default;
}

.Weather .active:hover {
  text-decoration: none;
  color: var(--third-color);
}

@media (max-width: 768px) {
  .Weather .search-text {
    padding: 10px 22px;
    font-size: 22px;
    max-width: 60%;
  }

  .Weather .search-btn {
    padding: 10px 18px;
    font-size: 22px;
  }

  .Weather .city-name {
    text-align: center;
    font-size: 50px;
  }

  .Weather .mainPage {
    padding: 15px;
  }
}
